body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game{
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.grid-container button{
    width: 150px;
    height: 150px;
}

.additionalButtons{
    display: flex;
    column-gap: 30px;
}

.additionalButtons button{
    margin-top: 10px;
    width: 100px;
    height: 60px;
    background-color: lightgray;
}

.additionalButtons .twoPlayersButton{
    background-color: lightblue;
}